:root {
    --color-background: #F0EEEC;
    --color-container: #E3E1DF;
    --color-scrollbar: #9e9e9e;
    --color-text: rgba(0, 0, 0, 0.8);
    --color-primary: #2F80ED;
    --color-warning: #D18D1F;
    --color-error: #9A0900;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #222222;
        --color-container: #2D2D2D;
        --color-scrollbar: #5c5c5c;
        --color-text: rgba(255, 255, 255, 0.7);
        --color-primary: #2F80ED;
        --color-warning: #D18D1F;
        --color-error: #CC3B32;
    }
}