#grad-paa-file-list {
    justify-self: center;
    align-self: stretch;
    overflow-y: auto;
    max-height: 100%;
    padding: 1rem;
    width: 50rem;
    max-width: 100vw;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1rem;
    align-content: flex-start;
    grid-template: 
        "heading more" auto
        "files files" auto
        "_ download" auto / 1fr auto;

    > ul {
        grid-area: files;
        // overflow-y: auto;
        padding: 0;
        margin: 0;
    }

    > button {
        justify-self: flex-end;
        align-self: center;
    }
}

.grad-paa-file-item {
    display: grid;
    grid-template:
    "icon name main-action more" 1fr
    "icon message main-action more" auto / auto 1fr auto auto;
    padding: 1rem 1.5rem;
    background-color: var(--color-container);
    border-radius: .5rem;
    grid-column-gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    user-select: none;
    min-height: 2.5rem;

    &:last-child {
        margin-bottom: 0;
    }

    &__icon {
        opacity: 0.2;
    }

    &__icon {
        grid-area: icon;
        font-size: 1.5rem;
    }

    &__name {
        grid-area: name;
    }

    &__message {
        grid-area: message;
    }

    &__main-action {
        grid-area: main-action;
        font-size: 2rem;

        > i {
            font-size: inherit !important;
        }
    }

    &__more {
        grid-area: more;
        display: flex;
        justify-content: center;
        position: relative;

        > i {
            opacity: .5;
            position: relative;
            cursor: pointer;

            &::after {
                position: absolute;
                top: -.25em;
                left: -.25em;
                font-size: inherit;
                width: 1.5em;
                height: 1.5em;
                border-radius: 50%;
                content: "";
                background-color: var(--color-text);
                opacity: 0.1;
                z-index: -1;
                transform: scale(0);
                transition: transform 0.1s ease;
            }

            &:hover {
                &::after {
                    transform: scale(1);
                }
            }
        }

        > ul {
            list-style: none;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: .25rem;
            padding: 0;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            background-color: var(--color-container);
            overflow: hidden;
            transform: scale(0);
            transition: transform 0.2s ease;
            transform-origin: top right;
            z-index: 100;

            > li {
                padding: 1rem;
                display: grid;
                grid-template-columns: [icon] auto [text] 1fr;
                font-size: 1rem;
                position: relative;
                grid-column-gap: .5rem;
                align-items: center;
                white-space: nowrap;
                cursor: pointer;

                &:hover {
                    &:before {
                        background-color: var(--color-text);
                        opacity: 0.1;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        position: absolute;
                        content: "";
                    }
                }
            }
        }
    }
}

.grad-paa-loader,
.grad-paa-loader:after {
  border-radius: 50%;
  width: 1em;
  height: 1em;
}
.grad-paa-loader {
    position: relative;
    border-top: .1em solid rgba(255, 255, 255, 0.1);
    border-right: .1em solid rgba(255, 255, 255, 0.1);
    border-bottom: .1em solid rgba(255, 255, 255, 0.1);
    border-left: .1em solid var(--color-primary);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: grad-paa-loader 1.1s infinite linear;
    animation: grad-paa-loader 1.1s infinite linear;
    box-sizing: border-box;
}
@-webkit-keyframes grad-paa-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes grad-paa-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}