@import './colors.scss';
@import './ieHint.scss';
@import './footer.scss';
@import './home.scss';
@import './overlay.scss';
@import './fileList.scss';
@import './dialog.scss';
@import './snackbar.scss';

body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

::selection,
::-moz-selection {
    background: #d18d1f;
    color: white;
}

body {
    display: grid;
    grid-template: 
        "main" 1fr
        "footer" auto / 1fr;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
    transition: inherit;

    &:hover {
        color: inherit;
    }
}

button {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    color: var(--button-color, var(--color-primary));
    background-color: var(--color-container);
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    user-select: none;
    min-height: 1.5rem;
    box-sizing: content-box;
    letter-spacing: 0.02em;
    position: relative;

    > i {
        margin-right: .25rem;
    }

    &:hover {
        color: var(--button-text-color, var(--color-background));
        background-color: var(--button-color, var(--color-primary));
    }

    &.grad-paa-btn--primary {
        color: var(--button-text-color, var(--color-background));
        background-color: var(--button-color, var(--color-primary));

        &:hover::after {
            content: '';
            background-color: #FFF;
            position: absolute;
            opacity: 0.1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: inherit;
        }
    }

    &:not(.grad-paa-btn--not-responsive) {
        @media (max-width: 500px) {
            padding: .5rem;
    
            > i {
                margin-right: initial;
            }
    
            > span {
                display: none;
            }
        }
    }
}

.grad-paa-tooltip {
    position: relative;
    display: flex;
    justify-content: center;

    &::before {
        display: block;
        content: var(--grad-paa-tooltip, 'TOOLTIP');

        color: white;
        white-space: nowrap;
        background-color: rgba(black, 0.8);
        padding: .5rem;
        border-radius: .25rem;
        position: absolute;
        font-size: 1rem;
        font-weight: bold;
        top: 0;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 0.08em;
        transform: translateY( calc(-100% - .25rem) ) scale(0);
        transition: transform .1s ease;
        transform-origin: bottom center;
        z-index: 2;
        font-family: 'Source Sans Pro', sans-serif;
        
        @media (prefers-reduced-motion) {
            transition: none;
        }
    }

    &:hover:before {
        transform: translateY( calc(-100% - .25rem) ) scale(1);
    }
}

/* This will work on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar) transparent;
}

/* Targtes on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 20px;
    background-clip: content-box;
    border: 3px solid transparent;
}