#grad-paa-home {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    > h1 {
        text-align: center;
    }

    > section {
        padding: 0.25rem 1rem;
        margin: 0 0 1.5rem 0;
        background-color: var(--color-container);
        border-radius: .5rem;
        width: 37rem;
        max-width: 100%;
        line-height: 1.5em;
        letter-spacing: 0.03em;

        > p {
            margin: .5em 0;
        }
    }

    > span {
        opacity: 0.5;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }
}

#grad-paa-home-plugins {
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    grid-template: 
        "heading heading" auto
        "gimp photoshop" auto / .5fr .5fr;
    
    > span {
        grid-area: heading;
        opacity: 0.5;
    }
    
    > a {
        display: flex;
        grid-row-gap: .5rem;
        flex-direction: column;
        align-items: center;
        opacity: 0.5;
        transition: opacity 0.05s ease-in-out;
        &:hover {
            opacity: 1;
        }
        > img {
            width: 3rem;
            opacity: 0.7;
            filter: invert(100%);
        }
        @media (prefers-color-scheme: dark) {
            > img {
                filter: unset;
            }
        }
    }    
}