:root {
    --color-background: #F0EEEC;
    --color-footer: #010103;
    --color-container: #E3E1DF;
    --color-text: #2D2D2D;
    --color-primary: #2F80ED;
    --color-warning: #D18D1F;
    --color-error: #9A0900;
}